<form>
<div> Applpicant Name 
  <input type= "text" [(ngModel)]="app.Name" [ngModelOptions]="{standalone: true}">
</div>
<div *ngFor="let q of app.Questions">
  <div> {{q.QuestionId}} {{q.Question}} 
  <input type= "text" [(ngModel)]="q.Answer" [ngModelOptions]="{standalone: true}">
</div>
</div>
<br>
<button (click)="onSubmit()">Submit Application</button>
</form>
<!-- <ul>
  <li *ngFor="let question of app.Questions">
    {{question.QuestionId}} {{questions[]}} 
    <input type="text" [(ngModel)]="question.Answer">
  </li>
</ul> -->

      